<div id="error_explanation" data-turbo-cache="false">
  <ul>
    <% if resource.contacts.any? && resource.contacts.first.errors.any? %>
          <% resource.contacts.first.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
    <% end %>
  </ul>
</div>